body {
background-image: url("oc.png");
 color: #000000;
}
h1 {
 color: #000000;
 text-align: center;
 font: italic 200% sans-serif;
}
h3 {
 color: #000000;
 text-align: center;
}
p {
 color: #000000;
 text-align: left;
}

span {
font-size:3rem;
}

.profilepic {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 350px;
  height: 350px;
}

.quote {
  font-size: 20px;
  position:relative;
  left:10px;
  top:-300px;

}

.favorites {
  font-size: 15px;
  position:relative;
  right:-570px;
  top:-555px;
}

.fav {
  font-size: 15px;
  position:relative;
  right:-1270px;
  top:-555px;
}

.ftitle {
  font-size: 15px;
  position:relative;
  right:-570px;
  top:-555px;
}

.food {
  font-size: 15px;
  position:relative;
  right:-1370px;
  top:-555px;
}

.table{
  width:55% ;
  position:relative;
  right:-200px;
  top:-550px;
}
table tr:nth-child(even) {background-color: darkgrey    ;}

.education{
  float: left;
  top: -0px;
}
.work{
  position:relative;
  right:-875px;
  top:-480px;
}
.body{
  font-family: sans-serif;
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: red;
}
.my_text {
  color: red;
  font-weight: bold;
  font-size: 15px;
}

.shadow1 {
	margin: 40px;
	background-color: rgb(68,68,68);

	-moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	box-shadow: 5px 5px 5px rgba(68,68,68,0.6);

}
